@import 'common/typography.scss';

.heading {
    color: #2d1f1a; 
    font-family: 'Lobster', cursive; 
    padding: 20px;
    text-align: center;
}
.question {
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 25px;
    border: 2px solid #d79e2b;
    padding: 20px; 
}

.calc {
    font-family: sans-serif;
    font-size: 15px;
    color:#2d1f1a;
    font-family:sans-serif; 
    
}
.form-check-input{
    display:inline-block;
}

.start {
    padding:40px 0px 10px 0px;
}
.btn-submit {
    color: #fff;
    background-color: #000;
    &:hover {
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2)
    }
}
.results {
    margin-top: 1rem;
}